<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courseworktest1">
    <!-- The 3 permissions below allow for internet access on the device -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE " /> <!-- This permission access' the device's internet state, and detects if there is a stable connection -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/><!-- This allows for permission to be asked from the application to allow the use of location services on the device -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api" /> <!-- This is the API key that the app uses to connect to google maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/> <!-- This accesses the google version attached to the device -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"> <!-- This defines the name of the application -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>